<div class="page-container">
  <div class="form-container">
    <h1>Forgot Password?</h1>
    <p *ngIf="!otpSent">Enter your registered email:</p>
    
    <div *ngIf="!otpSent">
      <input type="email" id="email" [(ngModel)]="email" placeholder="Email" required />
      <button (click)="sendOtp()" class="btn">Send OTP</button>
    </div>

    <div *ngIf="otpSent">
      <p>Enter the OTP sent to your email:</p>
      <input type="text" id="otp" [(ngModel)]="otp" placeholder="OTP" required />
      <button (click)="verifyOtp()" class="btn">Verify OTP</button>
      <!--<button (click)="navigateToSetPassword()">Go to Set Password</button>-->

    </div>
  </div>

</div>